$dark-cyan: hsl(158, 36%, 37%)
$darker-cyan: hsl(158, 36%, 15%)
$cream: hsl(30, 38%, 92%)
$very-dark-blue: hsl(212, 21%, 14%)
$dark-grayish-blue: hsl(228, 12%, 48%)
$white: hsl(0, 0%, 100%)
$card-width: 700px
$card-height: 525px

*
    margin: 0
    padding: 0
    font-family: 'Montserrat', sans-serif
    color: $dark-grayish-blue
html
    font-size: 12px

body
    position: absolute
    top: 0
    bottom: 0
    background: $cream
    .card-container
        width: 100vw
        height: 100vh
        display: flex
        justify-content: center
        align-items: center
        .card
            width: $card-width
            height: $card-height
            background: $white
            display: flex
            flex-direction: row
            border-radius: 15px
            box-sizing: border-box
            overflow: hidden
            picture
                width: 50%
                img
                    width: $card-width / 2
            .card-content
                display: flex
                width: 50%
                flex-direction: column
                justify-content: space-between
                padding: 40px
                h2
                    font-weight: normal
                    font-size: 1rem
                    letter-spacing: 1px
                h1
                    font-family: 'Fraunces', serif
                    font-size: 2.75rem
                    line-height: 2.75rem
                    color: $very-dark-blue
                    width: 90%
                p
                    font-size: 1.25rem
                p.description
                    line-height: 25px
                    width: 90%
                .prices
                    display: flex
                    flex-direction: row
                    align-items: center
                    p.new-price
                        font-family: 'Fraunces', serif
                        color: $dark-cyan
                        font-size: 2.75rem
                    p.old-price
                        padding-left: 20px
                        text-decoration: line-through
                button
                    display: flex
                    flex-direction: row
                    align-items: center
                    justify-content: center
                    background: $dark-cyan
                    border: none
                    border-radius: 10px
                    transition: 0.3s
                    img
                        height: 1.25rem
                    p
                        color: $white
                        font-weight: bold
                        padding: 13.5px 0 13.5px 15px
                    &:hover
                        cursor: pointer
                        background: $darker-cyan
            

$mobile-card-height: 600px
$mobile-card-width: 350px
$mobile-image-height: 235px
@media (max-width: 450px)
    body
        .card-container
            .card
                width: $mobile-card-width
                height: $mobile-card-height
                display: flex
                flex-direction: column
                picture
                    height: $mobile-image-height
                    width: 100%
                    img
                        height: $mobile-image-height
                        width: $mobile-card-width
                .card-content
                    height: $mobile-card-height - $mobile-image-height
                    width: 100%
                    padding: 25px 25px
                    box-sizing: border-box
                    h1
                        width: 100%
                    p.description 
                        width: 100%
                    button
                        p
                            padding: 15px 0 15px 15px

            
